@page "/speakers/update/{id}"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Edit Speaker</h1>

<p>This component demonstrates fetching data from the server.</p>

@if(speaker != null)
{
  <EditForm Model="@speaker" OnValidSubmit="@HandlePut">
  <DataAnnotationsValidator />
  <ValidationSummary />
<p>First Name</p>
  <InputText placeholder="First Name" id="firstName" @bind-Value="@speaker.firstName" class="form-control" />
  <br />
  <p>Last Name</p>
  <InputText placeholder="Last Name" id="lastName" @bind-Value="@speaker.lastName" class="form-control" />
  <br />
  <p>Email</p>
  <InputText placeholder="Email" id="email" @bind-Value="@speaker.email" class="form-control" />
  <br />
  <p>Mobile Number</p>
  <InputText placeholder="Mobile Number" id="mobileNumber" @bind-Value="@speaker.mobileNumber" class="form-control" />
  <br />
  <p>Area of specialization</p>
  <InputText placeholder="Area of specialization" id="areaOfSpecialization" @bind-Value="@speaker.areaOfSpecialization" class="form-control" />
  <br />
  <p>City of residence</p>
  <InputText placeholder="City of residence" id="cityOfResidence" @bind-Value="@speaker.cityOfResidence" class="form-control" />
  <br />
  <p>Province of residence</p>
  <InputText placeholder="Province of residence" id="provinceOfResidence" @bind-Value="@speaker.provinceOfResidence" class="form-control" />
  <br />
  <p>Employer</p>
  <InputText placeholder="Employer" id="employer" @bind-Value="@speaker.employer" class="form-control" />
  <br />
  <a href="speakers">
    <button  class="btn btn-secondary">Cancel</button>
  </a>
  <button type="submit"  class="btn btn-primary">Update</button>
</EditForm>
}
@code {
  string baseUrl = "https://localhost:6001/";

  [Parameter]
  public string id {get;set;}
  Speaker speaker ;

  protected override async Task OnInitializedAsync()
  {
    System.Console.WriteLine("OnInitializedAsync");

    speaker = await Http.GetJsonAsync<Speaker>($"{baseUrl}api/speaker/{id}");
  }
    private async void HandlePut() {
    System.Console.WriteLine("HandlePut");

    string endpoint = $"{baseUrl}api/Speaker/{speaker.speakerId}";
    await Http.SendJsonAsync(HttpMethod.Put, endpoint, speaker);
    NavigationManager.NavigateTo("speakers");
  }
}